rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function canCreateComment() {
      let isSignedIn = request.auth != null;
      let isNotBanned = exists(
        /databases/$(database)/documents/banned/$(request.auth.uid)) == false;
  
      return isSignedIn && isNotBanned;
    }

    // Allow all reads and writes for testing purposes
    match /{document=**} {
      allow read, write: if true;
    }
    
    // Restrict access to the "comments" collection
    match /comments/{commentId} {
      allow read: if request.auth.uid != null;
      allow create: if canCreateComment();
    }
  }
}
